<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/material-dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-background-color="white">
            <div class="logo">
                <a href="#" class="simple-text logo-normal">Atypikhouse</a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/pages">
                            <i class="material-icons">dashboard</i>
                            <p>Pages</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/hebergements">
                            <i class="material-icons">house</i>
                            <p>Hébergements</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/destinations">
                            <i class="material-icons">place</i>
                            <p>Destinations</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/blog">
                            <i class="material-icons">article</i>
                            <p>Blog</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/avis">
                            <i class="material-icons">comment</i>
                            <p>Avis</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">
                            <i class="material-icons">person</i>
                            <p>Utilisateurs</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <%- include(`partials/${partial}`) %>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap-material-design.min.js"></script>
</body>
</html>
