<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/material-dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-background-color="white">
            <div class="logo">
                <a href="#" class="simple-text logo-normal">Atypikhouse</a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/pages">
                            <p>Pages</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/hebergements">
                            <p>Hébergements</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/destinations">
                            <p>Destinations</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/themes">
                            <p>Thèmes</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/blog">
                            <p>Blog</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/avis">
                            <p>Avis</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">
                            <p>Utilisateurs</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/messages">
                            <p>Messages</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <%- include(`partials/${partial}`, { themes: themes, destinations: destinations }) %>
        </div>
    </div>
    <script src="/node_modules/tinymce/tinymce.min.js"></script>
    <script src="/js/tinymce-config.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
