<div class="footer">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-3 py-5">
        <img src="/images/logo-footer.svg" height="60" class="mb-3" alt="Logo">
        <h2 class="h4 fw6 txt-blue">AtypikHouse</h2>
        <p class="fw4 txt-green">Des séjours uniques dans des habitats insolites en pleine nature. Vivez une expérience inoubliable !</p>
        <p class="fw2 lh12 txt-green">Suivez-nous sur les réseaux sociaux :</p>
        <div class="social-media gap-2 d-flex">
          <a class="facebook" title="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a class="instagram" title="#"><i class="fa-brands fa-instagram"></i></a>
          <a class="linkedin" title="#"><i class="fa-brands fa-linkedin-in"></i></a>
          <a class="tiktok" title="#"><i class="fa-brands fa-tiktok"></i></a>
        </div>
      </div>
      <div class="col-md-3 col-6 py-5">
        <p class="h4 fw6 txt-blue">Nous</p>
        <ul class="menu-footer">
          <li><a href="/">Accueil</a></li>
          <li><a href="/presentation">Présentation</a></li>
          <li><a href="/contact">Contactez-nous</a></li>
          <li><a href="/hote">Devenir hôte</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/">Politique de confidentialité</a></li>
          <li><a href="/presentation">Mentions légales</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-6 py-5">
        <p class="h4 fw6 txt-blue">Nos services</p>
        <ul class="menu-footer">
          <li><a href="/register">Creer un compte</a></li>
          <li><a href="/profile">Ma profile</a></li>
          <li><a href="/reservation">Mes réservations</a></li>
          <li><a href="/paiement">Service de Paiement</a></li>
          <li><a href="/mapsite">Plan du site</a></li>
          <li><a href="/mapsite">Notre newsletter</a></li>
        </ul>
      </div>
      <div class="col-md-3 py-5">
        <p class="h4 fw6 txt-blue">Notre applications</p>
        
      </div>
    </div>
  </div>
</div>
<footer class="bg-green text-center text-lg-start">
  <div class="text-center txt-white p-3">
    © 2024 AtypikHouse. Tous droits réservés.
  </div>
</footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/service-worker.js')
        .then(function(registration) {
          console.log('Service Worker registered with scope:', registration.scope);
        }, function(err) {
          console.log('Service Worker registration failed:', err);
        });
    });
  }
</script>
