<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='robots' content='index, follow' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000"/>
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <link rel="canonical" href="https://dsp-dev-g5-sk-as-lm.fr/" />

  <!-- Page Info -->
  <title>Atypik House - </title>
  <meta name="description" content="Atypik House - " />

  <!-- SEO -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://dsp-dev-g5-sk-as-lm.fr/" />
  <meta property="og:image" content="https://dsp-dev-g5-sk-as-lm.fr/" />
  <meta property="og:image:width" content="150" />
  <meta property="og:image:height" content="180" />
  <meta property="og:site_name" content="AtypikHouse" />

  <!-- CSS Files -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- js Files -->
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>

  <!-- Saira Font Google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Icons Fontawesome -->
  <script src="https://kit.fontawesome.com/9923ee27af.js" crossorigin="anonymous"></script>

</head>
<body>
  <%- include('partials/nav') %>

  <!-- File d'Ariane -->
  <div class="fil-ariane">
    <div class="container-full px-5 p-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="/">Accueil</a></li>
          <li class="breadcrumb-item active" aria-current="page">Devenez Hôte</li>
        </ol>
      </nav>
    </div>
  </div>

  <!-- Section Hote -->
  <div class="hote-section-1"></div>
  <div class="hote-section">
    <div class="container p-5 h-100 ">
      <div class="row h-100 align-items-center">
        <div class="col-md-6 text-start">
          <h1 class="bold h1 mb-1 txt-white">Devenez Hôte</h1>
          <h2 class="fw3 h3 mb-3 txt-white">Partagez Votre Hébergement Insolite</h2>
          <p class="txt-white fw3 lh16">Vous possédez un hébergement unique, atypique, ou insolite ? AtypikHouse est l'opportunité parfaite pour partager votre bien avec une communauté de voyageurs en quête d'expériences exceptionnelles.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Pourquoi Devenir Hôte -->
  <div class="about-section bg-white">
    <div class="container py-5">
      <div class="row py-5 gap-5 align-items-center justify-content-center">
        <div class="col-md-4 ordermoins1">
          <img src="/images/pourquoi.webp" alt="Pourquoi Devenir Hôte ?" title="Pourquoi Devenir Hôte ?" width="100%">
        </div>
        <div class="col">
          <h2 class="h2 txt-blue mb-3 bold">Pourquoi Devenir Hôte chez AtypikHouse ?</h2>
          <p class="txt-green lh16 fw3">Chez AtypikHouse, nous comprenons que chaque hébergement a une histoire à raconter. C'est pourquoi nous mettons un point d'honneur à vous offrir les outils nécessaires pour mettre en valeur votre bien et attirer des voyageurs passionnés. </p>
          <p class="txt-green lh16 fw3">En rejoignant notre plateforme, vous profitez d'une <a class="txt-blue bold" href="/hebergements">présentation de notre mission</a> axée sur le tourisme durable et responsable, d'une communauté engagée et d'une équipe dédiée à votre succès. Que vous possédiez une yourte, un chalet, ou une cabane dans les arbres, AtypikHouse vous aide à maximiser votre potentiel tout en respectant l'essence de votre hébergement.</p>
        </div>
      </div>
    </div>
  </div>


  <!-- Section KPIs -->
  <div class="kpi-section py-5 bg-green">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-3 col-6 text-center p-3">
          <h3 class="h2 mb-3 fw6 txt-green-light">+10,000</h3>
          <p class="txt-white h4 lh12 fw3">réservations gérées chaque année</p>
        </div>
        <div class="col-md-3 col-6 text-center p-3">
          <h3 class="h2 mb-3 fw6 txt-green-light">+95%</h3>
          <p class="txt-white h4 lh12 fw3">de satisfaction des hôtes</p>
        </div>
        <div class="col-md-3 col-6 text-center p-3">
          <h3 class="h2 mb-3 fw6 txt-green-light">+20,000</h3>
          <p class="txt-white h4 lh12 fw3">voyageurs membres actifs de notre communauté</p>
        </div>
        <div class="col-md-3 col-6 text-center p-3">
          <h3 class="h2 mb-3 fw6 txt-green-light">85%</h3>
          <p class="txt-white h4 lh12 fw3">d'occupation moyenne des hébergements</p>
        </div>
      </div>
    </div>
  </div>


  <!-- Pourquoi Devenir Hôte -->
  <div class="about-section bg-white">
    <div class="container py-5">
      <div class="row py-5 gap-5 align-items-center justify-content-center">
        <div class="col-12">
          <h3 class="h3 txt-blue mb-3 bold">1. Boostez Vos Réservations et Maximisez Vos Revenus</h3>
          <p class="txt-green mb-5 lh16 fw3">En devenant hôte chez AtypikHouse, vous bénéficiez d'une visibilité nationale et internationale, ce qui vous permet de toucher un public plus large et de remplir votre calendrier de réservations. Notre plateforme attire des voyageurs en quête de séjours authentiques, prêts à payer pour des expériences uniques. Avec AtypikHouse, vous optimisez votre taux d'occupation et boostez vos revenus, tout en ayant la liberté de fixer vos propres tarifs et conditions.</p>
          <h3 class="h3 txt-blue mb-3 bold">2. Un Accompagnement Personnalisé à Chaque Étape</h3>
          <p class="txt-green mb-5 lh16 fw3">Nous savons que la gestion d'un hébergement peut être un défi, c'est pourquoi AtypikHouse vous propose un accompagnement sur mesure. De la création de votre annonce à la gestion des réservations, nous vous offrons des outils et des conseils pour garantir une expérience sans stress. Notre équipe est disponible pour répondre à vos questions, vous aider à optimiser votre annonce, et vous fournir des astuces pour améliorer la satisfaction de vos clients.</p>
          <h3 class="h3 txt-blue mb-3 bold">3. Rejoignez une Communauté de Voyageurs Passionnés</h3>
          <p class="txt-green lh16 fw3">En devenant hôte chez AtypikHouse, vous faites partie d'une communauté de voyageurs respectueux et passionnés par les expériences uniques. Nos clients cherchent à s'évader du quotidien et à se reconnecter avec la nature. En rejoignant notre plateforme, vous contribuez à offrir des moments inoubliables tout en partageant votre amour pour votre région et votre hébergement.</p>
        </div>
      </div>
    </div>
  </div>

    <!-- Pourquoi Devenir Hôte -->
    <div class="about-section bg-green-light">
      <div class="container py-5">
        <div class="row py-5 gap-5 align-items-center justify-content-center">
          <div class="col-12">
            <h3 class="h3 txt-green mb-3 bold">Comment Devenir Hôte chez AtypikHouse ?</h3>
            <p class="txt-green lh16 fw4">Pour devenir hôte chez AtypikHouse, la première étape est de créer votre compte sur notre plateforme. Une fois votre compte créé, vous pourrez nous faire part de votre désir de devenir hébergeur. Pour cela, il vous suffit d'envoyer un email à <span class="bold txt-blue">gestion@atypikhouse.com</span> avec le sujet "Augmentation de Niveau". </p>
            <p class="txt-green lh16 fw4">Veuillez inclure votre nom d'utilisateur et votre adresse email associés à votre compte AtypikHouse. Notre équipe examinera votre demande et vous contactera rapidement pour finaliser votre inscription en tant qu'hôte. Rejoignez-nous dès aujourd'hui pour partager votre hébergement unique avec une communauté de voyageurs passionnés.</p>
          </div>
        </div>
      </div>
    </div>
  


  <%- include('partials/footer') %>
</body>
</html>
