<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='robots' content='index, follow' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000"/>
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <link rel="canonical" href="https://dsp-dev-g5-sk-as-lm.fr/" />

  <!-- Page Info -->
  <title>Se connecter - AtypikHouse</title>
  <meta name="description" content="Se connecter dans votre compte de Atypikhouse" />

  <!-- SEO -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://dsp-dev-g5-sk-as-lm.fr/" />
  <meta property="og:image" content="https://dsp-dev-g5-sk-as-lm.fr/" />
  <meta property="og:image:width" content="150" />
  <meta property="og:image:height" content="180" />
  <meta property="og:site_name" content="AtypikHouse" />

  <!-- CSS Files -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- js Files -->
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>

  <!-- Saira Font Google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Icons Fontawesome -->
  <script src="https://kit.fontawesome.com/9923ee27af.js" crossorigin="anonymous"></script>

</head>
<body>
   
  <%- include('partials/nav') %>

  <!-- File d'Ariane -->
<div class="fil-ariane">
  <div class="container-full px-5 p-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Se connecter</li>
      </ol>
    </nav>
  </div>
</div>

  <div class=" py-5 bg-light">
  <div class=" container d-flex justify-content-center  mt-5">
    <div class="col-md-6 text-center">
      <h1 class="h2 txt-blue fw5 pt-5">Se connecter</h1>
      <p class="h6 fw3 pb-5">Connectez-vous à votre compte AtypikHouse et découvrez le potentiel des services AtypikHouse que vous utilisez.</p>
    
    <% if (error) { %>
      <p><%= error %></p>
    <% } %>
    <div class="text-start">
      <% if (error) { %>
        <p><%= error %></p>
      <% } %>
    <form class="gap-4 d-flex row" action="/login" method="POST">
        <div class="col-md-12 text-start form-register">
          <label for="username">Nom d'utilisateur</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="col-md-12 text-start form-register">
          <label for="password">Mot de passe</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>  
      <button type="submit" class="btn fullwith btn-primary">Allez, on y va !</button>
    </form>
  </div>
  </div>
</div>
</div>

  <%- include('partials/footer') %>
</body>
</html>
