<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Tableau de bord</h4>
                        <p class="card-category">Bienvenue sur le tableau de bord de l'administrateur</p>
                    </div>
                    <div class="card-body">
                        <p>Utilisez le menu de gauche pour naviguer entre les différentes sections de l'administration.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
