<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="py-5">
        <div class="card-header card-header-primary">
          <h4 class="txt-green h2">Gestion des Destinations</h4>
          <p class="txt-green">Gestion des Destinations de votre site</p>
        </div>
          <div class="card-body">
            <a href="/admin/destinations/new" class="btn btn-green txt-white mb-3">Ajouter une nouvelle destination</a>
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>Nom</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                  <% destinations.forEach(destination => { %>
                    <tr>
                      <td><%= destination.id %></td>
                      <td><%= destination.name %></td>
                      <td>
                        <a href="/admin/destinations/edit/<%= destination.id %>" class="btn btn-warning btn-sm">Modifier</a>
                        <form action="/admin/destinations/delete/<%= destination.id %>" method="POST" style="display:inline;">
                          <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

