<div class="container">
  <div class="row">
    <div class="col-md-12 py-5">
          <div class="card-header card-header-primary">
          <h4 class="txt-green h2">Modifier l'avis</h4>
          </div>
          <div class="card-body">
            <form action="/admin/avis/edit/<%= avis.id %>" method="POST">
              <div class="form-group mt-4">
                <label for="content">Contenu</label>
                <textarea class="form-control" id="content" name="content" rows="5" required><%= avis.content %></textarea>
              </div>
              <div class="form-group mt-4">
                <label for="rating">Note</label>
                <input type="number" class="form-control" id="rating" name="rating" value="<%= avis.rating %>" min="1" max="5" required>
              </div>
              <button type="submit" class="btn mt-4 btn-primary">Enregistrer les modifications</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

