<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="py-5">
        <div class="card-header card-header-primary">
          <h4 class="txt-green h2">Ajouter un nouveau thème</h4>
            </div>
            <div class="card-body">
              <form action="/admin/themes/new" method="POST" enctype="multipart/form-data">
                <div class="form-group mt-4">
                  <label for="name">Nom du thème</label>
                  <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group mt-4">
                  <label for="subtitle">Sous-titre</label>
                  <input type="text" class="form-control" id="subtitle" name="subtitle">
                </div>
                <div class="form-group mt-4">
                  <label for="description">Description</label>
                  <textarea class="form-control" id="description" name="description" rows="5" required></textarea>
                </div>
                <div class="form-group mt-4">
                  <label for="image">Image</label>
                  <input type="file" class="form-control-file" id="image" name="image">
                </div>
                <button type="submit" class="btn mt-4 btn-primary">Ajouter</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  